@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fall2 {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall2 {
  animation-name: fall2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-fall {
  animation: fall 3s linear infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

.note-paper {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
}

.note-paper::before,
.note-paper::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 20px;
  background: rgba(216, 196, 169, 0.418);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.note-paper::before {
  top: -10px;
  left: 15px;
  transform: rotate(-8deg);
}

.note-paper::after {
  bottom: -10px;
  right: 15px;
  transform: rotate(8deg);
}

@keyframes fall3 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(400px);
    opacity: 0.9;
  }
}

.animate-fall3 {
  animation: fall3 2s linear infinite;
}
